
.single-product div.product.product-type-simple .wcs-data {
	display: inline-block;
	margin: 15px 0;
}

.wcs-data label {
	float: left;
	min-width: 60%;
}

.wcs-data input {
	float: left;
	min-width: 40%;
}